<div class="main-content">
  <div class="container-fluid">
    <div class="card card-outline-secondary">
      <div class="card-header">
        <h3 class="mb-0">Book Appointment</h3>
      </div>
      <div class="card-body">
        <form class="form" [formGroup]="">
            <div>
                <label for="doctor"></label>
                <select class="form-control" id="doctor" formControlName="doctor" required>
                  <option *ngFor="let doctor of Dates" [ngValue]="">{{ "" }}</option>
                </select>
              </div>
          <div>
            <label for="description">Description</label>
            <textarea
              type="text"
              class="form-control"
              id="description"
              formControlName="description"
              required=""
              ></textarea>
           
           
            
          </div>
          <div>
            <button
              type="submit"
              class="btn btn-success float-right"
              (click)="bookAppointment()"
            >
              Book Appointment
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
